@model IEnumerable<ProjetoCidades.Models.Cidade>
    <div>
    <h2> Minhas Cidades e seus Estados</h2>
     @{
        foreach(var item in Model)
        {
            <li>@item.nome, @item.estado</li>
        }
    }
</div>