@model IEnumerable<ProjetoCidades.Models.Cidade>
<div>
    <h2> Todos os dados</h2>
    <table>
        <tr>
            <th>ID </th>
            <th>Nome </th>
            <th>Estado </th>
            <th>Habitantes </th>
        </tr>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>@item.id </td>
                <td>@item.nome </td>
                <td>@item.uf </td>
                <td>@item.habitantes </td>
            </tr>
        }
    }
    </table>
</div>